.Footer{
    width: 100%;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #000;
}

.Footer > section{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.section1 > .aside1 {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 60px;
}
.section1 > .aside1 > div{
    background-color: rgb(0, 0, 0);
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;


    font-size: medium;
    font-weight: 500;
    color: rgb(205, 209, 212);

}
.section1 >.aside1 >div > h1:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.section1 > .aside1 > div >:first-child{
    font-size:medium;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.section1 > .aside2{
    display: flex
}
.section1 > .aside2 > div{
    display: flex;

    gap: 10px;
    padding: 40px;
    margin-left: auto;
    background-color: rgb(0, 0, 0);
}

.section1 > .aside2 > div > span {
    height: 3vw;
    width: 3vw;
    background-color: #343434;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section1 > .aside2 >div > span:hover{
    background-color: #787777;
}



.section2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-inline: 40px;
    font-size: small;
    font-weight: 400;
}
.section2 > aside {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    color: rgb(205, 209, 212);
}

.section2 > aside >h1{
    cursor: pointer;
    color: white;
}
.section2 > h1{
    margin-left: auto;
}